<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.coretek.spte.monitor.ui.action.actionSet"
            label="label"
            visible="true">            
          <!--         
          <action
               class="com.coretek.spte.monitor.ui.action.LockMonitorAction"
               icon="icons/lock.gif"
               id="com.coretek.spte.monitor.ui.action.LockMonitorActionSet"
               label="锁定/解锁"
               style="toggle"
               toolbarPath="additions">
         </action>
         <action
               class="com.coretek.spte.monitor.ui.action.LoadHistroyAction"
               icon="icons/load_symbols_co.gif"
               id="com.coretek.spte.monitor.ui.action.LoadHistroyActionSet"
               label="加载监控历史记录"
               style="push"
               toolbarPath="additions">
         </action>
         
         <action
               class="com.coretek.spte.monitor.ui.action.StopMonitorAction"
               icon="icons/debug/Terminate.gif"
               id="com.coretek.spte.monitor.ui.action.StopMonitoractionSet"
               label="停止监控"
               style="push"
               toolbarPath="additions">
         </action>
         -->
          <action
               class="com.coretek.spte.monitor.ui.action.StartMonitorAction"
               icon="icons/103_startMonitor.gif"
               id="com.coretek.spte.monitor.ui.action.StartMonitoractionSet"
               label="启动监控"
               style="push"
               toolbarPath="additions">
         </action>
         <!--
         <action
               class="com.coretek.spte.monitor.ui.action.ChangeMonitoredTopicsAction"
               icon="icons/failed.gif"
               id="com.coretek.spte.monitor.ui.changeMonitoredTopics"
               label="更改监控主题"
               style="push"
               toolbarPath="additions"
               tooltip="更改监控主题">
         </action>
         -->
      </actionSet>
   </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.coretek.sequence.rcp.sptePref"
            class="com.coretek.spte.monitor.ui.preference.TimeStampPreferencePage"
            id="com.coretek.spte.monitor.ui.preference.timestampPreferencePage"
            name="监控时间配置">
      </page>
   </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.coretek.spte.monitor.ui.preference.TimeStampPreferenceInitializer"/>
   </extension>
    <extension
         point="org.eclipse.ui.perspectives">     
      <perspective
            class="com.coretek.spte.monitor.ui.perspective.MonitorPerspectiveFactory"
            icon="icons/coretek.gif"
            id="com.coretek.tools.ide.ui.MonitorPerspective"
            name="监控透视图">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.coretek.tools.ide.ui.MonitorPerspective">
         <view
               id="com.coretek.testcase.monitorView.monitorDomainView"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="com.coretek.spte.monitorLog.view"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="com.coretek.spte.monitorView.monitorDomainView"
               visible="true">
         </view>
         <view
               id="com.coretek.tools.curve.views.CurveView"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="com.coretek.spte.monitorView.monitorDomainView"
               visible="true">
         </view>         
      </perspectiveExtension>           
   </extension>
   <extension
        point="org.eclipse.ui.startup">
	     <startup
	           class="com.coretek.spte.monitor.ui.MonitorPlugin">
	     </startup>
  	 </extension>
</plugin>
