<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.coretek.tools.ide.ui"
            class="com.coretek.testcase.testcaseview.TestCaseViewPart"
            icon="icons/600_testList.gif"
            id="com.coretek.tools.sequence.testcaseList"
            name="测试用例列表"
            restorable="true">
      </view>
      <view
            category="com.coretek.tools.ide.ui"
            class="com.coretek.testcase.testResult.TestResultViewPart"
            icon="icons/500_result.gif"
            id="com.coretek.tools.testResult.view"
            name="测试结果视图"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.coretek.tools.testcaseView.actionSet2"
            label="label"
            visible="true">
         <action
               class="com.coretek.testcase.testcaseview.actions.OpenTestcaseViewAction"
               id="com.coretek.tools.testcaseView.openTestcaseView"
               label="打开测试用例视图"
               menubarPath="window/additions"
               style="push">
         </action>
         <action
               class="com.coretek.testcase.testResult.actions.OpenTestResultView"
               id="com.coretek.tools.testResult.openView"
               label="打开测试结果视图"
               menubarPath="window/additions"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.coretek.tools.ide.ui.DiagramPerspective">
         <view
               id="com.coretek.tools.sequence.testcaseList"
               minimized="false"
               ratio="0.2"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="com.coretek.tools.testResult.view"
               minimized="false"
               relationship="stack"
               relative="com.coretek.tools.sequence.testcaseList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.coretek.testcase.testcaseview.handlers.RunTestCaseHandler"
            commandId="com.coretek.testcase.testcaseView.commands.runCommand">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.example.ui.PracticeEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <command
            categoryId="com.coretek.testcase.testcaseView.commands.run"
            id="com.coretek.testcase.testcaseView.commands.runCommand"
            name="运行命令">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.coretek.testcase.testcaseView.toolbars.runToolbar">
            <command
                  commandId="com.coretek.testcase.testcaseView.commands.runCommand"
                  icon="icons/101_caseStart.gif"
                  id="com.coretek.testcase.testcaseView.commands.runCommand"
                  style="push"
                  tooltip="运行测试用例">
            </command>
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.coretek.testcase.testcaseView.commands.run"
            name="运行">
      </category>
      <command
            categoryId="com.coretek.testcase.testcaseView.commands.run"
            id="com.coretek.testcase.testcaseView.commands.runCommand"
            name="运行命令">
      </command>
   </extension>
  

</plugin>
