<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         id="com.coretek.testcase.console.id"
         name="控制台"
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.coretek.spte.console.ConsoleFactory"
            icon="icons/807_notes.gif"
            label="控制台">
      </consoleFactory>
   </extension>

</plugin>

