<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.coretek.spte.core.editor.SPTEEditor"
            contributorClass="com.coretek.spte.core.editor.actions.toolbar.SPTETBContributor"
            default="true"
            extensions="cas"
            icon="icons/logo_16.png"
            id="com.example.ui.PracticeEditor"
            name="测试用例编辑器">
      </editor>
      <editor
            class="com.objfac.xmleditor.XMLEditor"
            default="true"
            extensions="xml"
            filenames="*.xml"
            icon="icons/logo_16.png"
            id="com.coretek.testcase.core.icdEditor"
            name="文本查看">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.xml">
         </contentTypeBinding>
      </editor>
   </extension>
   <!-- 消息视图、消息属性 -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.coretek.tools.ide.ui"
            class="com.coretek.spte.core.views.MessageView"
            icon="icons/300_message.gif"
            id="com.coretek.tools.sequence.MessageView"
            name="消息视图"
            restorable="true">
      </view>
      <view
            category="com.coretek.tools.ide.ui"
            class="com.coretek.spte.core.views.MessagePropertyView"
            icon="icons/700_msgAttribute.gif"
            id="com.coretek.tools.sequence.MessagePropertyView"
            name="消息属性"
            restorable="true">
      </view>
   </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="com.coretek.tools.ide.ui.DiagramPerspective">
            <view
                  id="com.coretek.tools.sequence.MessageView"
                  ratio="0.7"
                  relationship="right"
                  relative="org.eclipse.ui.editorss"
                  visible="true">
            </view>
            <view
                  id="com.coretek.tools.sequence.MessagePropertyView"
                  minimized="false"
                  ratio="0.4"
                  relationship="bottom"
                  relative="com.coretek.tools.sequence.MessageView"
                  visible="true">
            </view>
         </perspectiveExtension>
      </extension>
</plugin>
