<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.coretek.testcase.rcp.application"
            name="SPTE">
         <property
               name="aboutText"
               value="航空电子系统验证工具演示版">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="0,353,568,15">
         </property>
         <property
               name="startupMessageRect"
               value="18,290,200,14">
         </property>
         <property
               name="appName"
               value="SPTE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/coretek.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.coretek.spte.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.coretek.sequence.rcp.actionSet2"
            label="测试"
            visible="true">
         <menu
               id="com.coretek.sequence.rcp.test"
               label="测试"
               path="edit">
            <groupMarker
                  name="content">
            </groupMarker>
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <menu
               id="com.coretek.sequence.rcp.testCase"
               label="测试运行配置"
               path="com.coretek.sequence.rcp.test/content">
         </menu>
         <menu
               id="com.coretek.sequence.rcp.run"
               label="运行"
               path="com.coretek.sequence.rcp.test/content">
         </menu>
         <action
               allowLabelUpdate="true"
               id="com.coretek.sequence.rcp.runAllTests"
               label="运行所有测试用例"
               menubarPath="com.coretek.sequence.rcp.test/com.coretek.sequence.rcp.run/additions"
               retarget="true"
               style="push">
         </action>
         <action
               id="com.coretek.sequence.rcp.runSelectedTest"
               label="运行所选测试用例"
               menubarPath="com.coretek.sequence.rcp.test/com.coretek.sequence.rcp.run/additions"
               retarget="true"
               style="push">
         </action>
         <action
               class="com.coretek.spte.rcp.action.TestRunningConfigActionDelegate"
               id="com.coretek.sequence.rcp.testConfig"
               label="选择用例"
               menubarPath="com.coretek.sequence.rcp.test/com.coretek.sequence.rcp.testCase/additions"
               style="push">
         </action>
        <!-- 
         <action
               class="com.coretek.spte.rcp.action.GettingTestReportActionDelegate"
               id="com.coretek.sequence.rcp.getTestReport"
               label="生成测试报告"
               menubarPath="com.coretek.sequence.rcp.test/additions"
               style="push">
         </action>
         -->
      </actionSet>
   </extension>

</plugin>
